.input-form-container {
    padding: 20px;
}

.math-equation {
    font-size: 20px;
}

.calculator-container {
    width: 50%;
}

.input-grid-container {
    display: grid;
    grid-template-columns: 1fr; /* Two equal-width columns */
    gap: 5px; /* Gap between rows and columns */
    align-items: center; /* Vertically center-align content */
}

.risk-rating-row {
    display: grid;
    grid-template-columns: 40px 1fr; /* Single column for both label and input */
    gap: 10px; /* Gap between label and input */
    align-items: center; /* Vertically center-align content */
    padding: 5px;
    border-radius: 5px;
    transition: background-color 0.5s ease;
}

.risk-rating-row:hover{
    background-color: rgb(80, 80, 75);
    transition: background-color 0.5s ease;
}

label {
    text-align: left; /* Align label text to the left */
}

input {
    color: aliceblue;
    background-color: transparent;
    border: none;
    text-align: center;
    
    width: 100%; /* Ensure inputs take up the available space */
    border-bottom: solid 0.5px rgb(167, 169, 170);
    transition: background-color 0.5s ease;
}

input:focus{
    background-color: rgb(98, 107, 107);
    border: none;
    outline: none;
    border-radius: 3px;
    transition: background-color 0.5s ease;
}

::placeholder {
    color: rgb(73, 79, 83);
}

select {
    color: aliceblue;
    background-color: transparent;
    width: 100%; /* Ensure inputs take up the available space */
    border: none;
    text-align: center;
}

select option{
    background-color: rgb(65, 57, 57);
    text-align: center;
}
