table, th, td {
    color: rgb(255, 255, 255);
    padding: 5px;
}

tr:nth-child(even) {
    background-color: #122b2b;
}
tr:nth-child(odd) {
    background-color: #363c3f;
}


/* Set the width of the first column */
td:first-child, th:first-child {
    width: 500px; /* Adjust the width as needed */
}
